Content-Type determination is case sensitive

The `laconia-event/apigateway` adapter uses the `Content-Type` header to determine how to process the body of the request. It does in this in a case-sensitive way although [RFC2616 Section 4.2](https://tools.ietf.org/html/rfc2616?spm=5176.doc32013.2.3.Aimyd7#page-31) states "Field names are case-insensitive".

The issue can be replicated by making the `Content-Type` header name lowercase in [the test](https://github.com/laconiajs/laconia/blob/master/packages/laconia-event/test/apigateway/parseRequestBody.spec.js#L26).

Thanks for raising this issue! For some reason I thought that the header case is converted by API Gateway to `Content-Type`, apparently I'm wrong. I can also see that you have submitted a PR, I'll have a look.

Released under [1.1.0](https://github.com/laconiajs/laconia/blob/master/CHANGELOG.md). Thank you for your contribution again!